{% extends "base.html.twig" %}
{% block stylesheets %}
	<style>
		/* .bg-overlay{
			background : url('{{ asset('assets/images/user.jpg') }}') ;
		} */

		#suggestions {
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            background: white;
            z-index: 1000;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .suggestion {
            padding: 10px;
            cursor: pointer;
        }
        .suggestion:hover {
            background: #f8f9fa;
        }
	</style>
	<!-- Bootstrap CSS -->
	<link	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"	rel="stylesheet">
		<!-- Select2 CSS -->
		<link	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"	rel="stylesheet" />
		<style>
        /* Ajustements pour Select2 */
        .select2-container .select2-selection--multiple {
            height: auto !important;
            border: 1px solid #ced4da !important;
            border-radius: 0.375rem !important; /* Coins arrondis */
            padding: 0.375rem !important; /* Espacement interne */
        }
        .select2-container .select2-selection--single {
            height: calc(2.25rem + 2px) !important;
            border: 1px solid #ced4da !important;
            border-radius: 0.375rem !important;
            padding: 0.375rem 0.75rem !important;
        }
        .select2-container .select2-selection__rendered {
            line-height: 1.5 !important;
        }
        .select2-container .select2-selection__arrow {
            height: calc(2.25rem + 2px) !important;
        }
		.technologies .text-muted {
			font-size: 14px;
    		font-weight: 700;
		}
    </style>
{% endblock %}
{% block content %}
<!-- Start home -->
<section class="bg-half page-next-level"> 
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h4 class="text-uppercase title mb-4">Editer profil</h4>
                    <ul class="page-next d-inline-block mb-0">
                        <li><a href="{{path('app_dashboard')}}" class="text-uppercase font-weight-bold">Accueil</a></li>
                        <li><a href="#" class="text-uppercase font-weight-bold">Profil</a></li> 
                        <li>
                            <span class="text-uppercase text-white font-weight-bold">Editer profil</span> 
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- CREATE RESUME START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h5 class="text-dark">General Information :</h5>
            </div>

            <div class="col-12 mt-3">
                <div class="custom-form p-4 border rounded">
                    {# <img src="{{asset('assets/images/employers/img-1.jpg')}}" class="img-fluid avatar avatar-medium d-block mx-auto rounded-pill" alt=""> #}
                    <img src="{{ asset(user.avatar is not null ? 'uploads/avatars/' ~ user.avatar : 'assets/images/employers/img-1.jpg') }}" class="img-fluid avatar avatar-medium d-block mx-auto rounded-pill" alt="">

                    {{ form_start(form, {'attr': {'class': 'row mt-4'}}) }}

                    <div class="col-md-6">
                        <div class="form-group app-label">
                            {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control resume', 'placeholder': 'Nom'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group app-label">
                            {{ form_label(form.prenoms, 'Prénoms', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.prenoms, {'attr': {'class': 'form-control resume', 'placeholder': 'Prénoms'}}) }}
                            {{ form_errors(form.prenoms) }}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group app-label">
                            {{ form_label(form.localisation, 'Localisation', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.localisation, {'attr': {'class': 'form-control', 'id': 'address-input', 'autocomplete': 'off'}}) }}
                            <div id="suggestions" class="list-group"></div>
                            {{ form_errors(form.localisation) }}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group app-label">
                            {{ form_label(form.salaireMin, 'Salaire minimum', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.salaireMin, {'attr': {'class': 'form-control resume', 'placeholder': '$8000'}}) }}
                            {{ form_errors(form.salaireMin) }}
                        </div>
                    </div>
                    
                    <div class="col-md-6 technologies">
                        <div class="app-label">
                            {{ form_label(form.tech, 'Langages de programmation', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.tech, {'attr': {'class': 'js-example-basic-multiple form-control', 'multiple': 'multiple', 'style': 'width: 100%; height: auto;'}}) }}
                            {{ form_errors(form.tech) }}
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group app-label">
                            {{ form_label(form.experienceLevel, 'Niveau d\'expérience', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.experienceLevel, {'attr': {'class': 'js-example-basic-multiple form-control','style': 'width: 100%; height: auto;'}}) }}
                            {{ form_errors(form.experienceLevel) }}
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <div class="form-group app-label">
                            {{ form_label(form.bibliographie, 'Courte bibliographie', {'label_attr': {'class': 'text-muted'}}) }}
                            {{ form_widget(form.bibliographie, {'attr': {'class': 'form-control resume', 'rows': '4'}}) }}
                            {{ form_errors(form.bibliographie) }}
                        </div>
                    </div>
                    
                    <div class="row" id="counter">
                        <div class="col-md-8">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item">
                                    <div class="input-group mt-2 mb-2">
                                        <div class="custom-file">
                                           
                                            {{ form_widget(form.avatar, {'attr': {'class': 'custom-file-input', 'accept': '.png, .jpeg, .jpg', 'onchange': "updateFileName(this);"}}) }}
                                            <label class="custom-file-label rounded" for="{{ form.avatar.vars.id }}">
                                                <i class="mdi mdi-cloud-upload mr-1"></i>
                                                <span id="file-name">Votre photo de profil</span>
                                            </label>
                                            
                                        </div>
                                    </div>
                                </li>
                                <li class="list-inline-item">
                                    <h6 class="text-muted mb-0">Téléchargez uniquement des fichiers PNG ou JPEG, taille maximale : 10 Mo.</h6>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    {{ form_widget(form.visibilite, {'attr': {'class': 'custom-control-input'}}) }}
                                    {{ form_label(form.visibilite, null, {'label_attr': {'class': 'custom-control-label'}}) }}
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-12 mt-4">
                        {{ form_widget(form.submit, {'attr': {'class': 'submitBnt btn btn-primary'}}) }}
                    </div>
                    
                    {{ form_end(form) }}
                    
                </div>
            </div>
        </div>

    </div>
</section>
<!-- CREATE RESUME END -->

<!-- subscribe start -->

<!-- subscribe end -->
{% endblock %}
{% block javascripts %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const input = document.getElementById('dev_profil_form_localisation');
                const suggestionsDiv = document.getElementById('suggestions');

                input.addEventListener('input', () => {
                    const query = input.value;
                    if (query.length > 2) {
                        fetch(`https://api-adresse.data.gouv.fr/search/?q=${query}`)
                            .then(response => response.json())
                            .then(data => {
                                suggestionsDiv.innerHTML = '';
                                data.features.forEach(feature => {
                                    const div = document.createElement('div');
                                    div.classList.add('suggestion', 'list-group-item');
                                    div.textContent = feature.properties.label;
                                    div.addEventListener('click', () => {
                                        input.value = feature.properties.label;
                                        suggestionsDiv.innerHTML = '';
                                    });
                                    suggestionsDiv.appendChild(div);
                                });
                            });
                    } else {
                        suggestionsDiv.innerHTML = '';
                    }
                });

                document.addEventListener('click', (e) => {
                    if (!suggestionsDiv.contains(e.target) && e.target !== input) {
                        suggestionsDiv.innerHTML = '';
                    }
                });
            });
        </script>

        <script>
            function updateFileName(input) {
                var fileName = input.value.split('\\').pop();
                var label = input.nextElementSibling;
                // Si aucun fichier n'est sélectionné, on garde le texte par défaut
                label.innerText = fileName ? fileName : 'Votre photo de profil';
            }
        </script>

		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Select2 JS -->
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script>
			$(document).ready(function () {
				// Initialisation de Select2
				$('.js-example-basic-multiple').select2({
					allowClear: true,
					width: 'resolve' 
				});
			});
    	</script>
	{% endblock %}