{% extends "base.html.twig" %}

{% block content %}

 <!-- Start home -->
 <section class="bg-half page-next-level"> 
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="candidates-profile-details text-center">
                    <img src="{{ asset(app.user.avatar is not null ? 'uploads/avatars/' ~ app.user.avatar : 'assets/images/employers/img-1.jpg') }}" height="150" alt="" class="d-block mx-auto shadow rounded-pill mb-4">
                    <h5 class="text-white mb-2">
                        {% if app.user.dev %}
                               {{ app.user.dev.nom ~ " " ~ app.user.dev.prenoms }}
                            {% else %}
                            {{ app.user.company.raisonSociale }}
                        {% endif %}
                    </h5>
                    <p class="text-white-50 h6 mb-2">{{ app.user.dev ? "Developpeur"| trans : "Entreprise"| trans}} </p>
                    <p class="text-white-50 h6 mb-2"><i class="mdi mdi-eye-outline mr-2"></i>6 vues de profil</p>

                    <ul class="candidates-profile-icons list-inline mb-3">
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-warning"><i class="mdi mdi-star"></i></a></li>
                    </ul>

                    {# <ul class="list-unstyled social-icon social mb-0">
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="rounded"><i class="mdi mdi-google-plus"></i></a></li>
                    </ul> #}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end home -->

<!-- CANDIDATES PROFILE START -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-dark">{{ app.user.dev ? "Bibliographie"| trans : "Description"| trans}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="border rounded p-4">
                    <p class="text-muted">
                        {% if app.user.dev %}
                        {{ app.user.dev.bibliographie ?? "Non renseigné"}}
                        {% else %}
                        {{ app.user.company.description ?? "Non renseigné"}}
                        {% endif %}
                    </p>

                    <ul class="list-inline pt-3 border-top mb-0">
                        <li class="list-inline-item mr-3">
                            <i class="mdi mdi-map-marker mr-2"></i>{{ app.user.localisation ? app.user.localisation : "Non renseigné"}}
                        </li>

                        {# <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-web mr-2"></i>Www.webthemes.co.in</a>
                        </li> #}

                        <li class="list-inline-item mr-3">
                           <i class="mdi mdi-email mr-2"></i>{{ app.user.email }}
                        </li>
                        {% if app.user.dev %}
                        <li class="list-inline-item mr-3">
                            <i class="mdi mdi-currency-usd mr-2"></i>Salaire min : {{ app.user.dev.salaireMin ? app.user.dev.salaireMin ~"$" : "Non renseigné"}}
                        </li>

                        <li class="list-inline-item mr-3">
                            <i class="mdi mdi-briefcase-outline mr-2"></i>Année d'expérience : {{ app.user.dev.experienceLevel ?  app.user.dev.experienceLevel : "Non renseigné"}}
                        </li>
                        {% endif %}

                        {# <li class="list-inline-item mr-3">
                            <a href="" class="text-muted f-15 mb-0"><i class="mdi mdi-cellphone-iphone mr-2"></i>123 456 7890</a>
                        </li> #}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row" id="counter">
            {% if app.user.dev %}
            <div class="col-md-12 mt-4 pt-2">
                <h6 class="mb-0 text-uppercase">Compétences :</h6>
                {% for technology in technologies %}
                    <div class="progress-box mt-4">
                        <h6 class="title text-muted">{{technology.technology.titre}}</h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped position-relative bg-primary" style="width:84%;">
                                <div class="progress-value d-block text-muted h6">84%</div>
                            </div>
                        </div>
                    </div><!--end process box-->
                {% else %}
                    <h6 class="title text-muted">{{"Aucune compétence renseignée"| trans }}</h6>
                {% endfor %}
        
            </div>
            {% endif %}

            <div class="col-md-4 offset-md-8 mt-4 pt-2 buy-button">
                <a href="{{path('app_edit_profil')}}" class="btn btn-primary" >{{"Modifier mes informations"| trans}}</a>
            </div>


           
        </div>         
    </div>
</section>
<!-- CANDIDATES PROFILE END -->



{% endblock %}