{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
		
		#suggestions {
            max-height: 200px;
            overflow-y: auto;
            position: absolute;
            background: white;
            z-index: 1000;
            width: 100%;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .suggestion {
            padding: 10px;
            cursor: pointer;
        }
        .suggestion:hover {
            background: #f8f9fa;
        }
	</style>
    <style>
        /* Ajustements pour Select2 */
        .select2-container .select2-selection--multiple {
            height: auto !important;
            border: 1px solid #ced4da !important;
            border-radius: 0.375rem !important; 
            padding: 0.375rem !important;
        }
        .select2-container .select2-selection--single {
            height: calc(2.25rem + 2px) !important;
            border: 1px solid #ced4da !important;
            border-radius: 0.375rem !important;
            padding: 0.375rem 0.75rem !important;
        }
        .select2-container .select2-selection__rendered {
            line-height: 1.5 !important;
        }
        .select2-container .select2-selection__arrow {
            height: calc(2.25rem + 2px) !important;
        }
		.technologies .text-muted {
			font-size: 14px;
    		font-weight: 700;
		}
    </style>
{% endblock %}
{% block content %}
    <section class="bg-home" style="background: url('{{ asset('assets/images/bg-home.jpg') }}');">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h6 class="small-title text-uppercase text-light mb-3">
                                    Créez, postulez, progressez : connectez-vous à votre avenir.
                                </h6>
                                <h1 class="heading font-weight-bold mb-4">
                                    Le moyen de plus facile de trouver un job en tant que développeur
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="home-form-position">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="home-registration-form p-4 mb-3">
                                    <form class="registration-form" method="get">
                                        <div class="row justify-content-between">
                                            <div class="col-lg-5 col-md-6">
                                                <div class="registration-form-box">
                                                    <i class="fa fa-briefcase"></i>
                                                    <input type="text" id="exampleInputName1" class="form-control rounded registration-input-box" placeholder="Mots-clés..." />
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 mr-1">
                                                <div class="form-group app-label">
                                                    <div class="form-button">
                                                        <div class="position-absolute" style="width: 100%;">
                                                            <input type="text" id="address-input" name="localisation" class="form-control" placeholder="Localisation" data-display="Category" autocomplete="off" />
                                                            <div id="suggestions" class="list-group"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-6">
                                                <div class="registration-form-box">
                                                    <a href="{{ path('app_find_job') }}" id="chercher" name="send" class="submitBnt btn btn-primary btn-block">
                                                        Chercher
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">
                            Les postes les plus visités
                        </h4>
                        <p class="text-muted para-desc mx-auto mb-1">
                            La liste des postes les mieux visités par les devéloppeurs
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {% for poste in postes %}
                            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                                <div class="list-grid-item rounded">
                                    <div class="grid-item-content p-3">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item float-right">
                                                <div class="">
                                                    <a class="favoris" data-poste-id="{{ poste.poste.id }}" data-user-id="{{ poste.poste.company.id }}" class="text-danger">
                                                        {% if poste.favoris != null and app.user == poste.favoris.user.id  %}
                                                            <i class="mdi mdi-heart" style="color:#2f55d4; font-size:20px"></i>
                                                        {% else %}
                                                            <i class="mdi mdi-heart-outline" style="color:#2f55d4; font-size:20px"></i>
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="grid-list-img mt-3">
                                            <img src="{{ asset('assets/images/featured-job/img-1.png') }}" alt="" class="img-fluid d-block"></div>
                                            <div class="grid-list-desc mt-3">
                                                <h5 class="mb-1">
                                                    <a href="#" class="text-dark">
                                                        {{ poste.poste.titre }}
                                                    </a>
                                                </h5>
                                                <p class="text-muted f-14 mb-1">
                                                    {{ poste.poste.localisation }}
                                                </p>
                                                <p class="text-muted mb-1">
                                                    {{ poste.poste.salaire }}
                                                    €/mois
                                                </p>
                                                <p class="text-muted mb-1">
                                                    {{ poste.poste.niveauExperience }}
                                                    Année d'expérience.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="apply-button p-3 border-top">
                                            <a href="{{ path('app_details_poste', {id:poste.poste.id }) }}" class="btn btn-primary btn-sm">
                                                Postuler
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="registration-form-box  d-flex justify-content-center mt-5">
                    <a href="{{ path('app_find_job') }}" id="submit" name="send" class="submitBnt btn btn-primary ">
                        Voir plus
                    </a>
                </div>
            </div>
        </section>
        <!-- all jobs start -->
        <section class="section bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center mb-4 pb-2">
                            <h4 class="title title-line pb-5">
                                Dévéloppeurs les plus vues
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="tab-content mt-2" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="recent-job" role="tabpanel" aria-labelledby="recent-job-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        {% for dev in devs %}
                                            <div class="job-box bg-white overflow-hidden border rounded mt-4 position-relative overflow-hidden">
                                                <div class="lable text-center pt-2 pb-2">
                                                    <ul class="list-unstyled best text-white mb-0 text-uppercase">
                                                        <li class="list-inline-item">
                                                            <i class="mdi mdi-star"></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="p-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-md-2">
                                                            <div class="mo-mb-2 rounded">
                                                                <img src="{{ asset('uploads/avatars/' ~ dev.user.avatar) }}" alt="" class="img-fluid mx-auto d-block" style="height: 100px;width:100px" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div>
                                                                <p class="text-muted mb-0">
                                                                    {{ dev.user.dev.bibliographie|slice(0, 130) ~ (dev.user.dev.bibliographie|length > 130 ? '...' : '') }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div>
                                                                <p class="text-muted mb-0">
                                                                    <i class="mdi mdi-map-marker text-primary mr-2"></i>
                                                                    {{ dev.user.localisation }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <div>
                                                                <p class="text-muted mb-0 mo-mb-2">
                                                                    {{ dev.user.dev.salaireMin }}
                                                                    <span class="text-primary">
                                                                        €
                                                                    </span>
                                                                    /mois
                                                                </p>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                <div class="p-3 bg-light">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div>
                                                                <p class="text-muted mb-0 mo-mb-2">
                                                                    <span class="text-dark">
                                                                        Experience :
                                                                    </span>
                                                                    {{ dev.user.dev.experienceLevel }}
                                                                    ans
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6"></div>
                                                        <div class="col-md-2">
                                                            <div>
                                                                <a href="{{ path('app_view_profil',{id:dev.user.id}) }}" class="text-primary">
                                                                    {{ "Voir profil"| trans }}
                                                                    <i class="mdi mdi-chevron-double-right"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="featured-job" role="tabpanel" aria-labelledby="featured-job-tab">
                                <div class="row">
                                    <div class="col-lg-12 text-center">
                                        Pas de développeur de cette catégorie
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="part-job" role="tabpanel" aria-labelledby="part-job-tab">
                                <div class="row"></div>
                            </div>
                            <div class="tab-pane fade" id="full-job" role="tabpanel" aria-labelledby="full-job-tab">
                                <div class="row">
                                    <div class="col-lg-12"></div>
                                </div>
                            <!-- end row -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="registration-form-box  d-flex justify-content-center mt-5">
                    <a href="{{ path('app_dev_list') }}" id="submit" name="send" class="submitBnt btn btn-primary ">
                        Voir plus
                    </a>
                </div>
            </div>
        <!-- end containar -->
        </section>
        <!-- all jobs end -->
        {% if app.user == null %}
            <!-- How it Work start -->
            <section class="section">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <div class="section-title text-center mb-4 pb-2">
                                <h4 class="title title-line pb-5">
                                    Comment ça marche
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mt-4 pt-2">
                            <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                                <div class="how-it-work-img position-relative rounded-pill mb-3">
                                    <img src="{{ asset('assets/images/how-it-work/img-1.png') }}" alt="" class="mx-auto d-block" height="50"></div>
                                    <div>
                                        <h5>
                                            Créer un compte
                                        </h5>
                                        <p class="text-muted">
                                            Lors de votre première visite sur la plateforme, vous pouvez consulter les offres disponibles. Pour postuler à ces différentes offres, il est nécessaire de créer un compte.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mt-4 pt-2">
                                <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                                    <div class="how-it-work-img position-relative rounded-pill mb-3">
                                        <img src="{{ asset('assets/images/how-it-work/img-2.png') }}" alt="" class="mx-auto d-block" height="50"></div>
                                        <div>
                                            <h5>
                                                Postuler aux offres
                                            </h5>
                                            <p class="text-muted">
                                                Une fois votre compte créé, vous pouvez postuler aux différentes offres disponibles sur la plateforme qui correspondent à votre profil.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mt-4 pt-2">
                                    <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                                        <div class="how-it-work-img position-relative rounded-pill mb-3">
                                            <img src="{{ asset('assets/images/how-it-work/img-3.png') }}" alt="" class="mx-auto d-block" height="50"></div>
                                            <div>
                                                <h5>
                                                    Discuter avec l'entreprise
                                                </h5>
                                                <p class="text-muted">
                                                    Après avoir postulé, vous pouvez échanger directement avec l'entreprise via une messagerie interne, ce qui vous permet de recevoir plus rapidement des informations sur vos futures réponses.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- How it Work end -->
                        <!-- counter start -->
                        <section class="section bg-counter position-relative" style="background: url('images/bg-counters.jpg') center center;">
                            <div class="bg-overlay bg-overlay-gradient"></div>
                            <div class="container">
                                <div class="row" id="counter">
                                    <div class="col-md-3 col-6">
                                        <div class="home-counter pt-4 pb-4">
                                            <div class="float-left counter-icon mr-3">
                                                <i class="mdi mdi-bank h1 text-white"></i>
                                            </div>
                                            <div class="counter-content overflow-hidden">
                                                <h1 class="counter-value text-white mb-1" data-count="120">
                                                    10
                                                </h1>
                                                <p class="counter-name text-white text-uppercase mb-0">
                                                    Entreprises
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="home-counter pt-4 pb-4">
                                            <div class="float-left counter-icon mr-3">
                                                <i class="mdi mdi-file-document-box h1 text-white"></i>
                                            </div>
                                            <div class="counter-content overflow-hidden">
                                                <h1 class="counter-value text-white mb-1" data-count="480">
                                                    80
                                                </h1>
                                                <p class="counter-name text-white text-uppercase mb-0">
                                                    Jobs trouvés
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="home-counter pt-4 pb-4">
                                            <div class="float-left counter-icon mr-3">
                                                <i class="mdi mdi-calendar-multiple-check h1 text-white"></i>
                                            </div>
                                            <div class="counter-content overflow-hidden">
                                                <h1 class="counter-value text-white mb-1" data-count="120">
                                                    100
                                                </h1>
                                                <p class="counter-name text-white text-uppercase mb-0">
                                                    Postes publiés
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-6">
                                        <div class="home-counter pt-4 pb-4">
                                            <div class="float-left counter-icon mr-3">
                                                <i class="mdi mdi-account-multiple-plus h1 text-white"></i>
                                            </div>
                                            <div class="counter-content overflow-hidden">
                                                <h1 class="counter-value text-white mb-1" data-count="200">
                                                    10
                                                </h1>
                                                <p class="counter-name text-white text-uppercase mb-0">
                                                    développeurs
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- counter end -->
                        <!-- testimonial start -->
                        <section class="section">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <div class="section-title text-center mb-4 pb-2">
                                            <h4 class="title title-line pb-5">
                                                Les témoignages de non clients
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-4">
                                    <div class="col-lg-12">
                                        <div id="owl-testi" class="owl-carousel owl-theme">
                                            <div class="item testi-box rounded p-4 mr-3 ml-2 mb-4 bg-light position-relative">
                                                <p class="text-muted mb-5">
                                                    Grâce à cette plateforme, j'ai trouvé mon premier emploi en tant que développeur junior. Le processus était simple, et la messagerie interne m'a permis de communiquer directement avec les recruteurs pour mieux comprendre leurs attentes.
                                                </p>
                                                <div class="clearfix">
                                                    <div class="testi-img float-left mr-3">
                                                        <img src="images/testi/img-1.png" height="64" alt="" class="rounded-circle shadow"></div>
                                                        <h5 class="f-18 pt-1">
                                                            Kevin Stewart
                                                        </h5>
                                                        <p class="text-muted mb-0">
                                                            Développeur Junior
                                                        </p>
                                                        <div class="testi-icon">
                                                            <i class="mdi mdi-format-quote-open display-2"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item testi-box rounded p-4 mr-3 ml-2 bg-light position-relative">
                                                    <p class="text-muted mb-5">
                                                        En tant que recruteur, j'apprécie la simplicité de la plateforme pour publier des annonces et gérer les candidatures. La messagerie interne est un vrai atout pour échanger efficacement avec les candidats. Nous avons trouvé des talents incroyables en un temps record !
                                                        <div class="clearfix">
                                                            <div class="testi-img float-left mr-3">
                                                                <img src="images/testi/img-2.png" height="64" alt="" class="rounded-circle shadow"></div>
                                                                <h5 class="f-18 pt-1">
                                                                    Charles Garrett
                                                                </h5>
                                                                <p class="text-muted mb-0">
                                                                    Recruteur d'une start-up
                                                                </p>
                                                                <div class="testi-icon">
                                                                    <i class="mdi mdi-format-quote-open display-2"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="item testi-box rounded p-4 mr-3 ml-2 bg-light position-relative">
                                                            <p class="text-muted mb-5">
                                                                Je cherchais des missions adaptées à mon profil de freelance, et cette plateforme m'a permis de décrocher plusieurs projets intéressants. La possibilité de discuter directement avec les entreprises m'a aidé à négocier des conditions avantageuses. Une expérience fluide et professionnelle
                                                            </p>
                                                            <div class="clearfix">
                                                                <div class="testi-img float-left mr-3">
                                                                    <img src="images/testi/img-3.png" height="64" alt="" class="rounded-circle shadow"></div>
                                                                    <h5 class="f-18 pt-1">
                                                                        Perry Martinez
                                                                    </h5>
                                                                    <p class="text-muted mb-0">
                                                                        Développeur Freelance
                                                                    </p>
                                                                    <div class="testi-icon">
                                                                        <i class="mdi mdi-format-quote-open display-2"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container mt-100 mt-60">
                                                <div class="row justify-content-center">
                                                    <div class="col-12"></div>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                                                        <img src="images/clients/1.png" height="50" alt=""></div>
                                                        <!--end col-->
                                                        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                                                            <img src="images/clients/2.png" height="50" alt=""></div>
                                                            <!--end col-->
                                                            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                                                                <img src="images/clients/3.png" height="50" alt=""></div>
                                                                <!--end col-->
                                                                <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                                                                    <img src="images/clients/4.png" height="50" alt=""></div>
                                                                    <!--end col-->
                                                                    <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                                                                        <img src="images/clients/1.png" height="50" alt=""></div>
                                                                        <!--end col-->
                                                                        <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                                                                            <img src="images/clients/2.png" height="50" alt=""></div>
                                                                        <!--end col-->
                                                                        </div>
                                                                    </div>
                                                                </section>
                                                            <!-- testimonial end -->
                                                            {% endif %}
                                                        {% endblock %}
                                                        {% block javascripts %}
                                                            <script>
    const input = document.getElementById('address-input');
								const suggestionsDiv = document.getElementById('suggestions');
						
								input.addEventListener('input', () => {
									const query = input.value;
									if (query.length > 2) { // Limiter les requêtes inutiles
										fetch(`https://api-adresse.data.gouv.fr/search/?q=${query}`)
											.then(response => response.json())
											.then(data => {
												// Vider les suggestions
												suggestionsDiv.innerHTML = '';
												data.features.forEach(feature => {
													const div = document.createElement('div');
													div.classList.add('suggestion', 'list-group-item');
													div.textContent = feature.properties.label;
													div.addEventListener('click', () => {
														input.value = feature.properties.label;
														suggestionsDiv.innerHTML = ''; // Masquer les suggestions
													});
													suggestionsDiv.appendChild(div);
												});
											});
									} else {
										suggestionsDiv.innerHTML = ''; // Effacer si la saisie est courte
									}
								});
						
								// Fermer les suggestions si on clique en dehors
								document.addEventListener('click', (e) => {
									if (!suggestionsDiv.contains(e.target) && e.target !== input) {
										suggestionsDiv.innerHTML = '';
									}
								}
								);
							</script>
                                                            <script>
                                $(document).ready(function () {
                                    $('#chercher').on('click', function (e) {
                                        e.preventDefault(); // Empêche le comportement par défaut du lien
                            
                                        // Récupérer les valeurs des champs
                                        const motsCles = $('#exampleInputName1').val();
                                        const localisation = $('#address-input').val();
                            
                                        // Construire l'URL dynamiquement
                                        const baseUrl = "{{ path('app_find_job') }}"; 
                                        const params = new URLSearchParams();
                            
                                        if (motsCles) params.append('mot_cles', motsCles);
                                        if (localisation) params.append('localisation', localisation);
                            
                                        // Mettre à jour l'attribut href de l'élément <a>
                                        const newUrl = `${baseUrl}?${params.toString()}`;
                                        $(this).attr('href', newUrl);
                            
                                        // Rediriger vers l'URL générée
                                        window.location.href = newUrl;
                                    });
                                });
                            </script>
                            <script>
                                $(document).ready(function () {
                                    $('.favoris').click(function () {
                                    // Récupérer l'élément sur lequel on a cliqué
                                    let clickedElement = $(this);
                                    
                                    // Récupérer des valeurs spécifiques à cet élément
                                    let posteId = clickedElement.data('poste-id');
                                    let userId = clickedElement.data('user-id');
                                    $.ajax({url: ' {{ path('add_favoris_poste') }}',
                                    type: 'POST',
                                    dataType: 'json',
                                    data: {
                                    'poste_id': posteId,
                                    'user_id': userId
                                    },
                                    success: function (response) {
                                clickedElement.html("<i class='mdi mdi-heart' style='color:#2f55d4; font-size:20px'></i>");
                                    }
                                    });
                                    });
                                    
                                });
                            </script>
                                                        {% endblock %}
                                                        